<section
  id="hero"
  class="w-screen h-96 flex items-center justify-center flex-col gap-6"
>
  <h1 class="font-bold title">Title</h1>
  <h2 class="font-medium subtitle">Subtitle</h2>
  <p class="w-[75%] text-pretty font-medium text-lg prose text-Black">
    Description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem
    incidunt accusamus libero ut assumenda tempore eligendi animi maxime, minus,
    quaerat excepturi nisi iure nulla. Autem rerum reiciendis eos error eaque.
  </p>
</section>
