<section id="image">
  <div
    class="flex gap-8 w-screen items-center justify-center flex-col md:flex-row"
  >
    <img
      src="https://www.eclosio.ong/wp-content/uploads/2018/08/default.png"
      alt="Image"
      class="w-[80%] md:w-[40%] rounded-md"
    />
    <img
      src="https://www.eclosio.ong/wp-content/uploads/2018/08/default.png"
      alt="Image"
      class="w-[80%] md:w-[40%] rounded-md"
    />
  </div>
</section>
