---
import BusinessComponent from "@components/BusinessComponent";
---

<section
  class="w-[90vw] h-auto flex justify-around items-center mt-12 flex-col mx-auto mb-24"
>
  <h2 class="font-bold subtitle">Select your business type</h2>
  <div
    id="business"
    class="flex flex-wrap gap-8 justify-center items-center mt-8"
  >
    <BusinessComponent />
  </div>
</section>
