---
import Layout from "@layouts/Layout.astro";
import BusinesSection from "@sections/business/BusinessSection.astro";
import Footer from "@sections/general/Footer.astro";
import Header from "@sections/general/Header.astro";
import BUSINESS from "@data/businessData.json";
import Description from "@sections/business/Description.astro";

const { business } = Astro.params;

/* This function is the one that gives the name to the file */
export function getStaticPaths() {
  return BUSINESS.map((buss) => ({
    params: { business: buss.text.toLowerCase().replace(/ /g, "") },
  }));
}

/* Find the object that matches the 'business' parameter */
const businessItem = BUSINESS.find(
  (b) => b.text.toLowerCase().replace(/ /g, "") === business
);

/* If the object is found, extract the information you need */
const name = businessItem ? businessItem.text : "Not Found Name";
const srcImg = businessItem ? businessItem.srcImg : "Not Found Src Image";
---

<Layout title={`Turno Sync | ${name}`}>
  <Header />
  <main class="mt-24">
    <BusinesSection nameBusiness={name} srcImg={srcImg} />
    <Description business={name} />
  </main>
  <Footer />
</Layout>
