<section class="mt-28 flex items-center justify-center flex-col gap-y-12">
  <h1 class="title">About Us</h1>
  <p class="prose text-Black">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, dolorem. In
    minima explicabo sequi qui asperiores reprehenderit, nulla adipisci mollitia
    provident harum et, illo alias quis aliquam, aperiam laboriosam? Similique!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, aliquid
    eos omnis soluta natus eius, nesciunt vel adipisci iusto accusamus pariatur
    voluptatibus aspernatur quaerat. Aut veniam suscipit nam error nostrum?
  </p>
  <img
    src="https://www.eclosio.ong/wp-content/uploads/2018/08/default.png"
    alt="imgRandom"
    class="w-[90%] sm:w-[80%] rounded-md"
  />
</section>
