---
import AboutSection from "@sections/about/AboutSection.astro";
import Layout from "@layouts/Layout.astro";
import Header from "@sections/general/Header.astro";
import Footer from "@sections/general/Footer.astro";
---

<Layout title="Turno Sync | About Us">
  <Header />
  <main>
    <AboutSection />
    Test
  </main>
  <Footer />
</Layout>
