---
interface Props {
  id: string;
  style: string;
}

const { id, style } = Astro.props;
---

<div
  id={id}
  class=`${style} bg-blue-100/75 h-fit mx-auto rounded-3xl mt-6 py-6 px-4 flex items-center justify-center flex-col`
>
  <h3 class=`text-center text-xl font-bold`>Lorem ipsum dolor</h3>
  <p class="prose-base px-3 font-medium text-center mt-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sint unde
    repellendus harum veritatis, atque vero architecto ratione.
  </p>

  <div class="w-[90%] h-auto mt-4">
    <img
      src="https://weibook-public.s3.amazonaws.com/recursos/web/options/Captura+de+pantalla+2024-06-18+a+la(s)+2.26.11%E2%80%AFa.m..png"
      alt="imgDefault"
      class="rounded-2xl overflow-hidden size-full"
    />
  </div>
</div>
