<a
  href="#"
  class="border-[3px] border-Primary p-4 rounded-xl overflow-hidden hover:bg-Primary hover:border-transparent transition-all duration-300 ease-out hover:-translate-y-1 hover:scale-105 hover:text-White"
>
  <h3 class="font-medium text-xl mb-3">Lorem ipsum dolor sit.</h3>
  <p class="w-48 text-pretty mb-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vel a eligendi
    nisi libero. Distinctio quasi, esse sunt, voluptate repellendus.
  </p>
  <p class="font-semibold text-center">20.000$</p>
</a>
